.second-layer {
    position:relative;
    width: 100%;
    min-height:100vh;
    background-color: #f5ebeb;
    border-top: 8px solid #396d63;
 }

.second-layer-bottom {
    position:absolute;
    bottom:0;
}

.second-layer-top-floral img {
    position:absolute;
    opacity: 0.2;
    max-width: 100%;
}

.second-layer-bottom-floral img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    max-width: 100%;
}

.second-layer-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.second-layer-content-photos {
    margin: 3% 0 3% 0;
}

.second-layer-text-intro {
    position:relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
}

/*.second-layer-left {*/
/*    display:inline-block;*/
/*    width:50%;*/
/*    margin: 5% auto;*/
/*}*/

/*.second-layer-right {*/
/*    display:inline-block;*/
/*    width:50%;*/
/*    !*padding: 5%;*!*/
/*    margin: 5% auto;*/
/*}*/

.second-layer-center {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
    margin: auto !important;
    padding: 0.5rem;
}

.second-layer-left-intro {
    position:relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
}


.second-layer-right-intro {
    position:relative;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
}

@media (orientation: portrait) {
    .second-layer-left-photo {
        width:55vw;
    }

    .second-layer-right-photo {
        width: 55vw;
    }

    .second-layer-text-intro {
        padding-top: 5%;
    }
}

@media (orientation: landscape) {
    .second-layer-left-photo {
        width:20vw;
    }

    .second-layer-right-photo {
        width: 20vw;
    }

    .second-layer-text-intro {
        padding-top: 5%;
    }
}

.second-layer-text-extra1 {
    position:relative;
    color: #902c68 ;
    text-align: center;
    padding-top:1%;
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
}

.second-layer-button-navigation svg {
    color: #902c68 !important;
    width: 2em !important;
    height: 2em !important;
}

.second-layer-button-navigation svg:hover {
    color: deeppink !important;
}
