.first-layer {
    position:relative;
    width: 100%;
    max-height:100.1vh;
    /*overflow: hidden;*/
}


.first-layer-intro {
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    top:10%;
    text-align: center;
}

.first-layer-text-intro {
    color: #f5ebeb;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 120%;
    font-family: 'Ruluko', sans-serif;
}

.first-layer-button-intro svg {
    color: #902c68 !important;
    width: 2em !important;
    height: 2em !important;
}

.first-layer-button-intro svg:hover {
    color: deeppink !important;
}


.first-layer-photo{
    width: 100%;
}

.first-layer-picture {
    display: flex !important;
}
