.first-layer {
    position:relative;
    width: 100%;
    max-height:100vh;
    overflow: hidden;
}


.first-layer-intro {
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    top:10%;
    text-align: center;
}

.first-layer-text-intro {
    color:#f0f7f0;
    font-size: 3rem;
    line-height: 120%;
    font-family: 'Merienda', cursive;
}

.first-layer-button-intro svg {
    color: #396d63 !important;
    width: 2em !important;
    height: 2em !important;
}

.first-layer-button-intro svg:hover {
    color: #98b3a6 !important;
}


.first-layer-photo{
    width: 100%;
}
