.footer-layer {
    position:relative;
    width: 100%;
    min-height:50vh;
    background-color: #396d63;
}

.goto-beginning-container {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.goto-beginning-button svg {
    color: snow !important;
    width: 1.5em !important;
    height: 1.5em !important;
}

.goto-beginning-button svg:hover {
    color: white !important;
}