.footer-layer {
    position:relative;
    width: 100%;
    min-height:50vh;
    background-color: #396d63;
}

.footer-layer-text-container {
    position: relative;
    text-align: center;
    padding-top: 2rem;
}

.footer-layer-text {
    font-weight: bold;
    font-size: 2em;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.footer-layer-image-container {
    left:0;
    right:0;
    text-align: center;
    height: 30vh;
    position: relative;
    display: flex;
}

.footer-layer-image {
    width: 26vh;
    height:26vh;
    border-radius: 50%;
    opacity: 0.6;
    margin: auto;
}

.goto-beginning-container {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.goto-beginning-button svg {
    color: snow !important;
    width: 1.5em !important;
    height: 1.5em !important;
}

.goto-beginning-button svg:hover {
    color: white !important;
}

.footer-bottom-left-text {
    font-family: 'Ruluko', sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer-bottom-right-text {
    font-family: 'Ruluko', sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

