.fourth-layer {
    position:relative;
    width: 100%;
    background-color: snow;
    background-image:
            radial-gradient(
                    snow 10%,
                    #e5e9e5 90%
            );
}

.fourth-layer-1, .fourth-layer-2, .fourth-layer-3 {
    width: 100%;
    position: relative;
    top: 0;
    bottom:0;
    text-align: center;
    display: flex;
}

.fourth-layer-church-image {
    max-width: 80%;
    height: auto;
}

.fourth-layer-ballroom-image {
    max-width: 80%;
    height: auto;
}

@media (orientation: portrait) {
    .fourth-layer-1 {
        height: 30vh;
    }
    .fourth-layer-2, .fourth-layer-3 {
        height: 60vh;
    }
}

@media (orientation: landscape) {
    .fourth-layer-1, .fourth-layer-2, .fourth-layer-3 {
        height: 60vh;
    }
}

.fourth-layer-text-intro {
    position:relative;
    color: #396d63;
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 120%;
    font-family: 'Satisfy', cursive;
    padding-top: 1rem;
}

.fourth-layer-symbol {
    font-size: 4rem !important;
    margin: auto;
}

.fourth-layer-center-animation {
    margin: auto !important;
    width: fit-content !important;
    top:0 !important;
}

.fourth-layer-first-part-text, .fourth-layer-second-part-text, .fourth-layer-third-part-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.fourth-layer-content {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}