.third-layer {
    position:relative;
    width: 100%;
    min-height:100vh;
    background-color: #F5EBF2;
    border-top: 8px solid #396d63;
}

.third-layer-bottom {
    position:absolute;
    bottom:0;
}